.side_filter_div {
    background-color: white;
    padding: 20px 30px;
    width: 20%;
    height: 100%;
    margin-top: 20px;
    color: silver;
    align-items: center;
    border-radius: 10px;
}

.side_filter_div h3 {
    color: grey;
}


.side_filter_div input {
    margin: 10px;
    width: 20px;
    height: 20px;
    accent-color: green;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .side_filter_div {
        display: none;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}