.navbarMain {
	display: flex;
	width: 90%;
	margin: auto;
	padding: 15px;
	gap: 20px;
	align-items: center;
}

.navbarMain > div > img {
	height: 30px;
	width: 100px;
}

.anchorNavbar {
	text-decoration: none;
	font-size: 15px;
	color: #333;
}

.anchorNavbar:hover {
	color: #ff645a;
}
.anchorNavbar:focus {
	color: #ff645a;
}
