.memberMain {
    height: 500px;
    width: 100%;
    background-color: #5D1241;
    margin-top: 20px;
}

.memberHeading {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 23px;
    padding-top: 30px;
}
.memberOffer {
    color: white;
    text-align: center;
}